body {
	font-family: 'courier new',monospace;
	height: 100%;
	background-color: black;
	color: var(--light-sogyo);
	padding-left: 4%;
	
	--sogyo-color: #007936;
	--light-sogyo: #66ffab;
    --accent-color: #eee;
    --light-text-color: #ffffcc;
	--purple-color: #6600ff;
	--mybrown-color: rgb(77, 38, 0);
}

#quote {
	width: 40%;
	position: absolute;
	bottom: 5%;
}

#author {
	margin-top: 2%;
}

.inputinfo {
	margin: 2% 0;
}

@media screen and (min-width: 730px) {
	body {
		background-image: url('/style/mazeplantsinverted.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 518px 100%;
		background-position: right bottom;
	}
	
	#buttonborder {
		position: fixed;
		top: 20%;
		right: 20%;
		width:270px;
		height:168px;
		background: url(/style/invertbutton.jpg);
		background-size: 270px 168px;
		background-position: left bottom;
		background-repeat: no-repeat;
	}
}

@media screen and (max-width: 730px) {
	#buttonborder {
		width:270px;
		height:168px;
	}
}
