/* Most of the main styling choices are managed here,
	however, particular components are styled directly in the tsx files */

body {
	font-family: 'courier new', monospace;
	height: 100%;
	background-color: black;
	color: var(--light-sogyo);
	padding-left: 4%;
	
	--sogyo-color: #007936;
	--light-sogyo: #66ffab;
	--accent-color: #eee;
}

.inputinfo {
	margin: 2% 0;
}

/* Dropdown Menu Button */
.dropbtn {
	background-color: var(--light-sogyo);
	color: black;
	padding: 16px;
	font-size: 1em;
	border: none;
	cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: var(--sogyo-color);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: absolute;
	top: 2%;
	right: 2%;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

/* Buttons inside the dropdown menu */
.dropdown-content button {
	color: black;
	padding: 12px 16px;
	width: 100%;
	display: block;
}

/* Show the dropdown menu (use script to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* The maze background */
.grid-container {
	display: inline-grid;
	background-color: 2px solid var(--light-sogyo);
	gap: 0;
	margin: 0 auto;
}

/* Show the tiles with walls */
.grid-item {
	border: 2px solid var(--light-sogyo);
}

.leftborder {
	border-left: 2px solid var(--sogyo-color);
}

.topborder {
	border-top: 2px solid var(--sogyo-color);
}

.rightborder {
	border-right: 2px solid var(--sogyo-color);
}

.bottomborder {
	border-bottom: 2px solid var(--sogyo-color);
}

/* The buttons underneath the maze for non-keyboard screens */
.movebuttons button {
	width: 30px;
	background-color: black;
	font-size: 1em;
	color: white;
	border-color: white;
}

/* Manage the background depending on screen size */
@media screen and (min-width: 815px) {
	body {
		background-image: url('/style/mazeplantsinverted.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 518px 100%;
		background-position: right bottom;
	}
	
	#buttonborder {
		position: fixed;
		top: 2%;
		right: 2%;
		width: 200px;
		height:168px;
		background: url(/style/invertbutton.jpg);
		background-size: 200px 168px;
		background-position: left bottom;
		background-repeat: no-repeat;
	}
}

@media screen and (max-width: 815px) {
	#buttonborder {
		width:270px;
		height:168px;
	}
}
